# ---- Banco de dados ----
POSTGRES_USER=wayne
POSTGRES_PASSWORD=wayne
POSTGRES_DB=wayne_industries
POSTGRES_PORT=5433

# ---- API ----
DATABASE_URL="postgresql://wayne:wayne@localhost:5433/wayne_industries?schema=public"
PORT=3333
NODE_ENV=development
JWT_SECRET="troque-este-valor-por-uma-string-longa-e-aleatoria-em-producao"
JWT_EXPIRES_IN=8h
CORS_ORIGIN=http://localhost:5173

# ---- Web ----
VITE_API_URL=http://localhost:3333/api/v1
